@inherits LayoutComponentBase

    <header id="main-header">
        <div class="container">
            <div class="logo">
            <p>MOMENT 1.2</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Start</a></li>
                    <li><a href="#">Konvertering</a></li>
                    <li><a href="#">JSON</a></li>
                </ul>
            </nav>
        </div>
    </header>

        <main>
            @Body
        </main>

    <footer>
        <p>&copy; Av Julie Andersson - Kontakta mig via e-post:
            <a href="mailto:juan2301@student.miun.se">juan2301@student.miun.se</a>
        </p>
    </footer>