@inherits LayoutComponentBase

    <header id="main-header">
        <div class="container">
            <div class="logo">
            <NavLink href="/">MOMENT 1.2</NavLink>
            </div>
            <NavMenu />
        </div>
    </header>

        <main>
            @Body
        </main>

    <footer>
        <p>&copy; Av Julie Andersson - Kontakta mig via e-post:
            <a href="mailto:juan2301@student.miun.se">juan2301@student.miun.se</a>
        </p>
    </footer>