@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Allmänna inställningar */
body {
    margin: 0;
    background-color: #ddead1;
    font-family: "Noto Sans", serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    font-size: 1.2em;
}

.logo a {
    color: #000;
    text-decoration: none;
}

.logo a:hover {
    font-weight: bold;
}

/* Header */
#main-header {
    background-color: #a5be8d;
    color: #000;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header h1 {
    margin: 0;
    font-size: 1.8em
}

#main-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

#main-header nav ul li {
    display: inline;
}

#main-header nav ul li a {
    text-decoration: none;
    color: #000;
}

#main-header nav ul li a:hover {
    color: white;
}

main {
    width: 90%;
    max-width: 900px;
    background-color: #eaefe6;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #a5be8d;
    color: #000;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}

footer a {
    color: #2e471f;
    text-decoration: none;
}

footer a:hover {
    font-weight: bold;
}

#blazor-error-ui,
.loading-progress {
    display: none;
}

.convert {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Styling för inputfält */
input[type="number"] {
    padding: 8px;
    font-size: 1em;
    width: 150px;
    margin-right: 10px;
    border: 1px solid #a5be8d;
    border-radius: 4px;
    background-color: #f5f9f5;
}

input[type="number"]:focus {
    outline: none;
    border-color: #6d9773;
    box-shadow: 0 0 4px #6d9773;
}

/* Styling för knappar */
button {
    padding: 8px 12px;
    font-size: 1em;
    background-color: #658354;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #425e32;
}