@page "/"

<PageTitle>Start</PageTitle>
<CurrentDateTime />

<h2>Start</h2>

<h3>Välkommen till Moment 1.2!</h3>
<p>
    Detta är en enkel webbplats skapad med Blazor WebAssembly som demonstrerar funktioner med C#. 
    Utforska navigering, konverteringsverktyg och datahantering via JSON!
</p>

<h3>Vad du hittar här:</h3>
<ul>
    <li><strong>Startsidan:</strong> Introduktion till webbplatsen.</li>
    <li><strong>Konvertering:</strong> Konverteringssida med två olika konverteringsfunktioner</li> 
    <li><strong>Ramschema:</strong> Ett utskrivet ramschema med Http Client.</li> 
</ul>

<img src="images/landscape.jpg" alt="Bild på ett grönt landskap" />