@page "/"

<PageTitle>Start</PageTitle>
<CurrentDateTime />

<h2>Start</h2>

<h4>Välkommen till Moment 1.1!</h4>
<p>
    Detta är en enkel webbplats skapad med Blazor WebAssembly som demonstrerar funktioner med C#. 
    Utforska navigering, konverteringsverktyg och datahantering via JSON!
</p>

<h4>Vad du hittar här:</h4>
<ul>
    <li><strong>Startsidan:</strong> Introduktion till webbplatsen.</li>
    <li><strong>Konvertering:</strong> Konverteringssida med två olika konverteringsfunktioner</li> 
    <li><strong>Ramschema:</strong> Ett utskrivet ramschema med Http Client.</li> 
</ul>